In [1]:
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
from feature_engineering import date_feature_extracter

## DataLoading

In [2]:
df = pd.read_csv("../../data/Train.csv", low_memory=False, parse_dates=["saledate"])
df.head(2).T

,0,1
SalesID,1139246,1139248
SalePrice,66000,57000
MachineID,999089,117657
ModelID,3157,77
datasource,121,121
auctioneerID,3,3
YearMade,2004,1996
MachineHoursCurrentMeter,68,4640
UsageBand,Low,Low
saledate,2006-11-16 00:00:00,2004-03-26 00:00:00
fiModelDesc,521D,950FII
fiBaseModel,521,950
fiSecondaryDesc,D,F
fiModelSeries,NaN,II
fiModelDescriptor,NaN,NaN
ProductSize,NaN,Medium
fiProductClassDesc,Wheel Loader - 110.0 to 120.0 Horsepower,Wheel Loader - 150.0 to 175.0 Horsepower
state,Alabama,North Carolina
ProductGroup,WL,WL
ProductGroupDesc,Wheel Loader,Wheel Loader
Drive_System,NaN,NaN
Enclosure,EROPS w AC,EROPS w AC
Forks,None or Unspecified,None or Unspecified
Pad_Type,NaN,NaN
Ride_Control,None or Unspecified,None or Unspecified
Stick,NaN,NaN
Transmission,NaN,NaN
Turbocharged,NaN,NaN
Blade_Extension,NaN,NaN
Blade_Width,NaN,NaN
Enclosure_Type,NaN,NaN
Engine_Horsepower,NaN,NaN
Hydraulics,2 Valve,2 Valve
Pushblock,NaN,NaN
Ripper,NaN,NaN
Scarifier,NaN,NaN
Tip_Control,NaN,NaN
Tire_Size,None or Unspecified,23.5
Coupler,None or Unspecified,None or Unspecified
Coupler_System,NaN,NaN
Grouser_Tracks,NaN,NaN
Hydraulics_Flow,NaN,NaN
Track_Type,NaN,NaN
Undercarriage_Pad_Width,NaN,NaN
Stick_Length,NaN,NaN
Thumb,NaN,NaN
Pattern_Changer,NaN,NaN
Grouser_Type,NaN,NaN
Backhoe_Mounting,NaN,NaN
Blade_Type,NaN,NaN
Travel_Controls,NaN,NaN
Differential_Type,Standard,Standard
Steering_Controls,Conventional,Conventional

## Modelling on only numerical features

In [3]:
df_numerical = df.select_dtypes(exclude='O').copy()

In [4]:
df_numerical.isnull().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    258360
saledate                         0
dtype: int64

In [5]:
df_numerical.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,4.011250e+05,401125.000000,4.011250e+05,401125.000000,401125.000000,380989.000000,401125.000000,1.427650e+05
mean,1.919713e+06,31099.712848,1.217903e+06,6889.702980,134.665810,6.556040,1899.156901,3.457955e+03
std,9.090215e+05,23036.898502,4.409920e+05,6221.777842,8.962237,16.976779,291.797469,2.759026e+04
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00
25%,1.418371e+06,14500.000000,1.088697e+06,3259.000000,132.000000,1.000000,1985.000000,0.000000e+00
50%,1.639422e+06,24000.000000,1.279490e+06,4604.000000,132.000000,2.000000,1995.000000,0.000000e+00
75%,2.242707e+06,40000.000000,1.468067e+06,8724.000000,136.000000,4.000000,2000.000000,3.025000e+03
max,6.333342e+06,142000.000000,2.486330e+06,37198.000000,172.000000,99.000000,2013.000000,2.483300e+06

In [6]:
# filling nas with -100 as none of the values are negative
# note that missingness is a feature

for col in ["auctioneerID","MachineHoursCurrentMeter"]:
    df_numerical[col] = df_numerical[col].fillna(-100)

In [7]:
df_numerical.isnull().sum()

SalesID                     0
SalePrice                   0
MachineID                   0
ModelID                     0
datasource                  0
auctioneerID                0
YearMade                    0
MachineHoursCurrentMeter    0
saledate                    0
dtype: int64

In [8]:
df_numerical.dtypes

SalesID                              int64
SalePrice                            int64
MachineID                            int64
ModelID                              int64
datasource                           int64
auctioneerID                       float64
YearMade                             int64
MachineHoursCurrentMeter           float64
saledate                    datetime64[ns]
dtype: object

## Features from date

In [9]:
date_feature_extracter(df_numerical, 'saledate')
df_numerical.head().T

,0,1,2,3,4
SalesID,1139246,1139248,1139249,1139251,1139253
SalePrice,66000,57000,10000,38500,11000
MachineID,999089,117657,434808,1026470,1057373
ModelID,3157,77,7009,332,17311
datasource,121,121,121,121,121
auctioneerID,3,3,3,3,3
YearMade,2004,1996,2001,2001,2007
MachineHoursCurrentMeter,68,4640,2838,3486,722
saleYear,2006,2004,2004,2011,2009
saleMonth,11,3,2,5,7
saleWeek,46,13,9,20,30
saleDay,16,26,26,19,23
saleDayofweek,3,4,3,3,3
saleDayofyear,320,86,57,139,204
saleIs_month_end,False,False,False,False,False
saleIs_month_start,False,False,False,False,False
saleIs_quarter_end,False,False,False,False,False
saleIs_quarter_start,False,False,False,False,False
saleIs_year_end,False,False,False,False,False
saleIs_year_start,False,False,False,False,False
saleElapsed,1163635200,1080259200,1077753600,1305763200,1248307200

## DataSplitting

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
feature = df_numerical.drop(["SalePrice"], axis=1).copy().values
target = np.log(df_numerical.SalePrice.copy().values)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, random_state=1)

## SVR on just the numerical columns.

In [13]:
from sklearn.svm import SVR, 
from sklearn.metrics import mean_squared_error

In [ ]:
%time model = SVR().fit(X_train, y_train)

### Unable to fit data. This is expected as SVR is not meant for large dataset. Worth a try though, given that the SVR is a powerful model